<div class="container-fluid">
  <div class="row logo-container align-items-center">
    <div class="col-1 text-center">
      <i class="fas fa-bars bars-icon d-none d-md-block"></i>
    </div>

    <div class="col-10 text-center">
      <img src="../../assets/img/logo-banco-falabella.png" class="img-fluid img-banner" alt="Logo Falabella">
    </div>

    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-12 banner-container banner-income">
      <div class="row banner-income-container">
        <div class="col-12 col-md-6 p-l-0 p-t-7-2 offset-md-6">
          <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
            <h3>
              <span class="falabella-dark-green">Ayúdanos </span> con unos
            </h3>
            <h3 class="m-b-2">
              datos más.
            </h3>
            <p>
              Porque te queremos dar una oferta hecha a la
            </p>
            <p class="m-b-2">
              medida para ti, necesitamos saber un poco más.
            </p>

            <div class="form-group m-b-3-3">
              <label for="income">¿Cuál es tu renta líquida/ingreso mensual?</label>
              <input type="number" class="form-control" name="income" id="income"
                     placeholder="Ej: $400.000" formControlName="income" />
            </div>

            <button class="btn btn-falabella-dark" type="submit" [disabled]="!incomeForm.valid">CONTINUAR</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
